@model BlackBooksApp.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2>View More Details of Client</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purchases)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Employee</th>
                    <th>Delivery Service</th>
                    <th>Order Date</th>
                    <th>Address Delivery</th>
                    <th>Price Delivery</th>
                    <th>Date of Sale</th>
                </tr>
                @foreach (var item in Model.Purchases)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Delivery.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ordate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Delcost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Saledate)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Cancel", "Index")
</p>
